@import "../../styles/variables";

.payment {
    margin-top: $section-mrgin;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__wrapper {
        display: grid;
        gap: 1rem;
    }
    &__input-container {
        display: flex;
        gap: 1rem;
    }
}