@mixin respond-to($size) {
  @if $size == small {
    @media (max-width: 500px) {
      @content;
    }
  } @else if $size == medium {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 856px) {
      @content;
    }
  } @else if $size == big {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

@mixin animation(
  $name,
  $duration: 0.3s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
}

// Миксин для ключевых кадров
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
