@import "../../styles/mixins";

.rools {
  max-width: 1024px;
  margin-top: 3rem;

  &__title {
    font-size: 1.2rem;
    @include respond-to(large) {
      font-size: 1.1rem;
    }
  }

  &__container {
    background-color: #e7f0ff;
    border-radius: 5px;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    font-size: .9rem;

    @include respond-to(medium) {
      font-size: .8rem;
    }
  }

}


