@import "../../styles/variables";
@import "../../styles/mixins";

ul p {
  margin: 0;
}

.footer {
  background-color: $bg-grey;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    @include respond-to(medium) {
      flex-direction: inherit;
      margin: 0 1rem;
    }
  }
  &__container {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
  }

  &__time-container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  &__link {
    color: black;
    text-decoration: none;
    width: 20px;
    height: 20px;
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__contact {
    padding: 0.5rem;
    width: max-content;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
  &__contact_tg-img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
