.admin-panel {
    padding: 20px;
    h2 {
      margin-bottom: 20px;
    }
    .order-list {
      list-style-type: none;
      padding: 0;
      .order-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        .order-info {
          flex-grow: 1;
          p {
            margin: 5px 0;
          }
          .order-img {
            width: 150px;
            // height: 50px;
          }
        }
        .order-actions {
          button {
            margin-left: 10px;
          }
        }
      }
    }
    .order-files {
      list-style: none;
      display: flex;
      margin: 0;
      gap: 2rem;
      padding: 0;
    }
    .order-li {
      display: flex;
      flex-direction: column;
    }
  }
  